<div class="<%=tagName%> tagContainer">
  <div class="tagTitle">
    <%=tagName%>
  </div>
  <div class="tagImages">
    <img src="<%=imageUrl%>" alt="<%=tagName%>" title="<%=tagName%>">
    <img src="<%=imageUrl%>" alt="<%=tagName%>" title="<%=tagName%>">
    <img src="<%=imageUrl%>" alt="<%=tagName%>" title="<%=tagName%>">
    <img src="<%=imageUrl%>" alt="<%=tagName%>" title="<%=tagName%>">
  </div>
</div>